<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      ><i class="fas fa-plus-circle"></i
    ></b-button>
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="รหัสนิสิต"
          label-for="รหัสนิสิต"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="studentId"
            v-model="form.studentId"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="ชื่อ-นามสกุล"
          label-for="ชื่อ-นามสกุล"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            id="fullname"
            v-model="form.fullname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="วันที่"
          label-for="วันที่"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-datepicker
            id="example-datepicker"
            v-model="form.date"
            class="mb-2"
          ></b-form-datepicker>
        </b-form-group>
        <b-form-group
          label="เวลา"
          label-for="เวลา"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input
            type="time"
            id="time"
            v-model="form.time"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="สถานะ"
          label-for="สถานะ"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.status"
            :options="statusOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <!-- <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card> -->
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)"
          ><i class="fas fa-edit"></i
        ></b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)"
          ><i class="fas fa-trash-alt"></i>
        </b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      types: ['time'],
      title: 'เพิ่มผู้ใช้ใหม่',
      statusOptions: [
        { text: 'Select One', value: null },
        { value: 'เข้าร่วม', text: 'เข้าร่วม' },
        { value: 'ไม่เข้าร่วม', text: 'ไม่เข้าร่วม' }
      ],
      form: {
        id: -1,
        studentId: '',
        fullname: '',
        date: '',
        time: '',
        status: ''
      },
      userList: [
        {
          id: 1,
          studentId: '60160067',
          fullname: 'ภูเบศ สุขผึ้ง',
          date: '2020-02-01',
          time: '13:00',
          status: 'เข้าร่วม'
        },
        {
          id: 2,
          studentId: '60160130',
          fullname: 'รวิชย์ หลวงสืบ',
          date: '2020-01-25',
          time: '13:00',
          status: 'เข้าร่วม'
        }
      ],
      lastId: 3,
      fields: [
        {
          key: 'id',
          label: 'ลำดับ',
          sortable: true
        },
        {
          key: 'studentId',
          label: 'รหัสนิสิต',
          sortable: true
        },
        {
          key: 'fullname',
          label: 'ชื่อ-นามสกุล',
          sortable: true
        },
        {
          key: 'date',
          label: 'วันที่',
          sortable: true
        },
        {
          key: 'time',
          label: 'เวลา',
          sortable: true
        },
        {
          key: 'status',
          label: 'สถานะเช็คชื่อ',
          sortable: true
        },
        {
          key: 'operation',
          label: 'operation',
          sortable: true
        }
      ]
    }
  },
  methods: {
    addNewUser: function () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del')
      console.log(user)
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm(
          'ท่านต้องการลบข้อมูลผู้เข้าร่วมอบรม ' + user.fullname + ' หรือไม่!!',
          {
            title: 'ลบข้อมูลรายชื่อผู้เข้าร่วมอบรม',
            size: 'md',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        studentId: '',
        fullname: '',
        dateTime: '',
        status: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when pass valdation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  }
}
</script>
